@model CadastroMVC.Models.ViewModel.AssociadoViewModel
@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Olá <b>@Model.Nome</b>!</h1>
    <p>Confira todas as suas informações a seguir.</p>
</div>