@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo(a) de volta!</h1>
    <p>Digite seu CPF e Placa para acesso.</p>

    @Html.Partial("_LoginPartial")
</div>